{% load static tailwind_tags %}
<html>
    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        {% tailwind_css %}
      </head>
    <body class="bg-gray-50 min-h-screen flex flex-col items-center p-6">

            <!-- Header with Navbar -->
    <header class="bg-gradient-to-r from-indigo-200 via-indigo-200 to-indigo-200 w-full py-6 text-white mb-8">
        <div class="max-w-7xl mx-auto flex justify-between items-center px-8">
            <!-- Navigation Bar -->
            <nav class="space-x-6">
                <a href="{% url 'expenseLogs' %}" class="text-lg font-semibold text-gray-800 hover:text-white transition-colors duration-300">
                    Home
                </a>
                <a href="{% url 'expenseVisualization' %}" class="text-lg font-semibold text-gray-800 hover:text-white transition-colors duration-300">
                    View Visualization
                </a>
                <a href="{% url 'addExpense' %}" class="text-lg font-semibold text-gray-800 hover:text-white transition-colors duration-300">
                    Add New Expense
                </a>
                <a href="{% url 'logout' %}" class="text-lg font-semibold text-gray-800 hover:text-white transition-colors duration-300">
                    Log Out
                </a>
            </nav>
        </div>
    </header>
        
        <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ expense.description }}</h1>
        <div class="w-full max-w-lg bg-white shadow-md rounded-lg p-6 space-y-4">
            {% include "updateExpenseForm.html" with expenseid=expense.pk %}
        </div>
    </body>


</html>

